<h1>ブログぜんぶ</h1>

<p><%= notice %></p>

<table>
    <tr>
        <th>だいめい</th>
        <th>なかみ</th></th>
    </tr>
    
<% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        
        <td><%= link_to 'くわしくみたい人', blog_path(blog.id) %></td>
        <td><%= link_to "ブログ書き換えたい人", edit_blog_path(blog.id), data: { confirm: 'マジか？' } %></td>
        <td><%= link_to 'これ消したい人', blog_path(blog.id), method: :delete, data: { confirm: 'いいのか？' } %></td>
    </tr>
<% end %>
</table>

<%= link_to '新しくつくろう', new_blog_path %>
<%= link_to '聞きたいことある', new_contact_path %>