<p><%= notice %></p>

<h2>何問い合わせんの？</h2>

<%= form_with(model: @contact, local: true) do |form| %>

  <% if @contact.errors.any? %> 
    <div id ="error_explanation">
        <h2><%= @contact.errors.count %>項目うめろな</h2>
        <ul>
            
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>  
        </ul>
    </div>
  <% end %> 
  
  
  <div class="contacts_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="contacts_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="contacts_content">
    <%= form.label :content %>
    <%= form.text_field :content %> 
  </div>
  <%= form.submit %> 
<% end %>

